= link_to 'Create Report', new_report_path, id: 'create-report'
= link_to 'Log in', new_session_path, id: 'log-in'
= link_to 'Log out', controller: 'sessions', action: 'delete'
= link_to 'My Reports', user_reports_path
