$("#page-content").html("#{escape_javascript render partial: "main/main_content" }");
$("#search-content").html("#{escape_javascript render partial: "main/search_content" }").hide().slideDown(900);
updateOnlineStatus()
