/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.most-wanted-indicator {
  background: red;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  color: red;
  float: right;
  height: 20px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.online .most-wanted-indicator {
  background-color: green;
  color: white;
}

.indicator {
  background: red;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius: 10px;
  color: white;
  float: right;
  height: 20px;
  width: 40px;
  margin-right: 10px;
  margin-top: 10px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
}

.online .indicator {
  background: green;
}

body {
  background: url('../nasty_fabric/nasty_fabric.png');
  padding-bottom: 40px;
  padding-top: 125px;
}

#hunter-content {
  background-color: grey;
  margin-top: -10px;
}

#hunter-content thead {
  background-color: red;
  color: white;
}

.navbar .nav {
  margin-top: 50px !important;
}

.claim {
  background-color: grey;
  background: url('../navy_blue/navy_blue.png');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 100%;
}

.claim h4 {
  padding-left: 20px;
}

.claim .description p {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.report {
  background-color: grey;
  background: url('../navy_blue/navy_blue.png');
  border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 0px;
  width: 100%;
}

.report .author_link {
  margin-bottom: 0px;
  margin-right: 15px;
  padding-top: 45px;
  text-align: right;
}

.report h2 {
  color: white;
}

.report .id_number {
  padding-top: 10px;
  text-align: left;
}

.report .perp_name {
  color: white;
  margin-left: 5px;
  margin-right: 15px;
  padding-top: 15px;
}

.report .description {
  float: left;
  margin-left: 20px;
  width: 60%;
}

.report .metadata {
  float: right;
  margin-right: 10px;
  width: 30%;
}

.report .metadata h5 {
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-top: 5px;
}

.report .metadata p {
  padding-left: 5px;
}

.report-nav {
  background-color: black;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  margin-top: 55px;
  padding-left: 10px;
  padding-top: 15px;
}

.report-nav li a{
  color: white;
  font-size: large;
}

.select-claim-header h3{
  background-color: black;
  border-top-right-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-top: 15px;
}

.claim-nav {
  background-color: red;
  border-bottom-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  color: white;
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-left: 35px;
  padding-top: 10px;
}

.claim-nav a {
  color: white;
}

.claim_pearl_bar {
  background-color: black;
}

.claim_pearl_bar h3{
  color: white;
  padding-top: 5px;
}

.claim_pearl_reddit_link {
  background-color: red;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  padding-left: 30px;
  padding-top: 20px;
}

.claim_pearl_reddit_link a {
  color: white;
  font-size: 30px;
}

.select-claim-header h4{
  background-color: red;
  color: white;
  margin-top: 0px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-top: 10px;
}

.report-header {
  background-color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-top: 15px;
}

.closed {
  opacity : 0.6;
}

h2 {
  padding-bottom: 25px;
  padding-left: 25px;
}

.timestamp {
  color: white;
  text-align: right;
}

.main-timestamp {
  color: #999;
}

.update_link {
  font-size: large;
}

.form {
  background-color: white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
}

.form-required {
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}

.form-optional {
  background-color: grey;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}
.form-optional label {
  color: white;
}

.form-checkbox {
  padding-left: 40px;
  padding-top: 20px;
}

.form-submit {
  background-color: red;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-top: 20px;
}

.form h4 {
  background-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-top: 15px;
}

.perpetrator h1 {
  background-color: red;
  border-top-right-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  color: white;
  margin-bottom: 0px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

.most-wanted-header {
  background-color: black;
  border-top-left-radius: 35px;
  -webkit-border-top-left-radius: 35px;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
}

.media-most-wanted {
  background-color: white;
  border-bottom-right-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  margin-top: -10px !important;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
}

.media-body-most-wanted {
  background-color: black;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  width: 63%;
}

.media-body-most-wanted h2 {
  background-color: red;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  color: white;
  padding-top: 15px;
}

.media-body-most-wanted h5 {
  padding-left: 25px;
}

.wanted-header {
  background-color: black;
  border-top-left-radius: 35px;
  -webkit-border-top-left-radius: 35px;
  color: white;
  padding-left: 10px;
  padding-top: 20px;
}

#user-nav {
  background-color: white;
  border-bottom-right-radius: 35px;
  -webkit-border-bottom-right-radius: 35px;
  margin-bottom: 0px !important;
  padding-bottom: 10px;
  text-size: large;
}

.media-main {
  background-color: white;
  border-radius: 5px;
  border-bottom-right-radius: 45px;
  -webkit-border-radius: 5px;
  -webkit-border-bottom-right-radius: 45px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
  text-size: large;
}

.media-body-main h4{
  background-color: grey;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  color: white;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-top: 10px;
}

.unstyled.main {
  font-size: 12.4px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 10px;
}

.unstyled.main li{
  margin-top: 5px;
}

.search_nav {
  background-color: red;
  margin-top: -10px;
  padding-left: 20px;
  padding-top: 20px;
  text-size: large;
}

form.form-search input.search-query {
  height: auto;
}

.search_content {
  background-color: black;
  padding-bottom: 40px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 40px;
  text-size: large;
}

.content-backbar {
  background-color: black;
  padding-top: 5px;
}
